.nv-bar {
  background-color: #f8ebc0;
  margin: 0%;
  padding: 0;
}
.rt-brand {
  font-family: "Comfortaa";
  font-weight: bolder;
  color: black;
  font-size: 25px;
  position: relative;
  cursor: pointer;
}
.f-th {
  color: black;
  font-family: "Kodchasan";
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.f-en {
  color: black;
  font-family: "Comfortaa";
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.img-lg {
  height: 50px;
}
.rt-nav {
    margin-left: auto;
    margin-top: 15px;
}
.rt-nav-menu{
    margin-right: 50px;
}
.signinbtn{
    background-color: #C6DAE5;
    color: black;
    border-radius: 10px;
    border: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}