.nv-bar {
  background-color: var(--yellow);
  margin: 0%;
  padding: 0%;
}
.rt-brand {
  font-family: "Comfortaa";
  font-weight: bolder;
  color: black;
  font-size: 25px;
  position: relative;
  cursor: pointer;
}
.img-lg {
  height: 50px;
}
.rt-nav {
    margin-left: auto;
    margin-top: 15px;
}
.rt-nav-menu{
    margin-right: 50px;
}
.signinbtn{
    background-color: var(--blue);
    color: black;
    border-radius: 10px;
    border: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}