<nav class="navbar nv-bar sticky-top">
  <div class="container">
    <a class="rt-brand"
      ><span><img src="assets/img/logo.png" class="img-lg" /></span>
      RentalCar
    </a>
    <ul class="rt-nav">
        <a class="rt-nav-menu f-th" routerLink="home">หน้าแรก</a>
        <a class="rt-nav-menu f-th">เช็คราคา</a>
        <a class="rt-nav-menu f-th">วิธีการจอง</a>
        <a class="rt-nav-menu f-th">ติดต่อเรา</a>
        <button class="signinbtn f-th" routerLink="login">เข้าสู่ระบบ</button>
    </ul>
  </div>
</nav>