<div class="container">
  <div class="container mt-5">
    <div id="frame-pf">
      <h1 class="pf-header f-en">Profile V.1</h1>
      <br />
      <div class="d-flex justify-content-center">
        <img
          src="assets/img/user.png"
          class="rounded-circle"
          alt="profilepic"
        />
      </div>
      <br />
      <br />
      <div class="f-th">
        <div class="d-flex justify-content-center">
          <label>ชื่อ :</label>
        </div>
        <div class="d-flex justify-content-center">
          <label>อีเมล :</label>
        </div>
        <div class="d-flex justify-content-center">
          <label>รหัสผ่าน :</label>
        </div>
        <br />
        <div class="d-flex justify-content-center">
          <button type="button" class="btn-pf">เปลี่ยนรูปโปรไฟล์</button>
          <button type="button" class="btn-pf">ลบบัญชี</button>
        </div>
      </div>
    </div>
  </div>
</div>
