@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Kodchasan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
html {
  height: 100%;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
.f-th {
  color: black;
  font-family: "Kodchasan";
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.f-en {
  color: black;
  font-family: "Comfortaa";
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
