@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Kodchasan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import 'foundation/font','foundation/color';
html {
  height: 100%;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}